Hitpan5.0Client/wcf인증 테스트클라이언트/Service References/ServiceReference1/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:8080/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISQLWebService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ISQLWebService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISQLWebService_GetSQLPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSQLPlan" />
  </wsdl:message>
  <wsdl:message name="ISQLWebService_GetSQLPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSQLPlanResponse" />
  </wsdl:message>
  <wsdl:message name="ISQLWebService_GetTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTime" />
  </wsdl:message>
  <wsdl:message name="ISQLWebService_GetTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeResponse" />
  </wsdl:message>
  <wsdl:message name="ISQLWebService_RegistQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistQuery" />
  </wsdl:message>
  <wsdl:message name="ISQLWebService_RegistQueryBlock_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistQueryBlock" />
  </wsdl:message>
  <wsdl:message name="ISQLWebService_OnJobEnd_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnJobEnd" />
  </wsdl:message>
  <wsdl:portType name="ISQLWebService">
    <wsdl:operation name="GetData">
      <wsdl:input wsam:Action="http://tempuri.org/ISQLWebService/GetData" message="tns:ISQLWebService_GetData_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ISQLWebService/GetDataResponse" message="tns:ISQLWebService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSQLPlan">
      <wsdl:input wsam:Action="http://tempuri.org/ISQLWebService/GetSQLPlan" message="tns:ISQLWebService_GetSQLPlan_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ISQLWebService/GetSQLPlanResponse" message="tns:ISQLWebService_GetSQLPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <wsdl:input wsam:Action="http://tempuri.org/ISQLWebService/GetTime" message="tns:ISQLWebService_GetTime_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ISQLWebService/GetTimeResponse" message="tns:ISQLWebService_GetTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistQuery">
      <wsdl:input wsam:Action="http://tempuri.org/ISQLWebService/RegistQuery" message="tns:ISQLWebService_RegistQuery_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistQueryBlock">
      <wsdl:input wsam:Action="http://tempuri.org/ISQLWebService/RegistQueryBlock" message="tns:ISQLWebService_RegistQueryBlock_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnJobEnd">
      <wsdl:output wsam:Action="http://tempuri.org/ISQLWebService/OnJobEnd" message="tns:ISQLWebService_OnJobEnd_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>